.swiper {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    max-height: 600px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.swiper-button-next {
    left: 45px !important;
}

.swiper-button-next,
.swiper-button-prev {
    top: 30px !important;
    color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 25px;
}